.webcamContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.canvas {
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}